<div class="left-panel">
    <h2>Ponerse en contacto</h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <div class="info-block">
      <i class="fa fa-envelope"></i>
      <div>
        <strong>GRÁFICO PARA NOSOTROS</strong>
        <p>Nuestro amable equipo está aquí para ayudar.</p>
        <a href="mailto:hola@nuestraempresa.com">hola&#64;nuestraempresa.com</a>
      </div>
    </div>

    <div class="info-block">
      <i class="fa fa-map-marker-alt"></i>
      <div>
        <strong>OFICINA</strong>
        <p>Ven a saludar a la sede de nuestra oficina.</p>
        <p><strong>121 Rock Street, 21 Avenue,<br>Nueva York, NY 92103-9000</strong></p>
      </div>
    </div>

    <div class="info-block">
      <i class="fa fa-phone"></i>
      <div>
        <strong>TELÉFONO</strong>
        <p>Lunes a viernes de 8 am a 5 am</p>
        <a href="tel:+1555000000">+1(555) 000-000</a>
      </div>
    </div>

    <div class="socials">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-pinterest-p"></i>
    </div>
  </div>